<% if question.answer %>
    <div id="question">
    <b> Question: </b> <%= question.question %> <br/>
    <b> Answer: </b> <%= h(question.answer).gsub(/\n/, '<br/>').html_safe %>
    </div>
   <% elsif current_user %>
   <b> Question: </b> <%= question.question %> <%= question.id %><br/>
    <%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %> </br>

   <%= form_for question do |form_question| %>
            <div class="field">
              <%= form_question.label :answer %><br />
              <%= form_question.text_area :answer,:rows => 4 %>
            </div>
           <div class="actions">
    <%= form_question.submit %>
  </div>

   <% end %>
  <% end %>