<div id ="blog">
  <div id="blog_header">
  <div id="blog_date">
    <%= blog.created_at.strftime("%d %b. %Y") %>
  </div>
  <div id="blog_title">
    <%= blog.title %>
  </div>
  </div>
  <div id="blog_content">
  <div id="created_blog_post">
  <%= raw(blog.post) %>
  </div>
  <div id="tag_id">
    <% if blog.tag_id %>
        Tag:
    <%= link_to blog.tag.name, url_for(:tag => blog.tag.id),:remote => true %>
    <% else %>
    No Tag
    <% end %>

  </div>
  <% if current_user %>
  <%= link_to 'Edit', edit_blog_path(blog) %>
  <%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %> </br>
 <% end %>
  </div>
</div>