<div id ="blog_description">
  <% if @tag %>
    <h2>   <%= @tag.description %></h2>
  <% end %>
</div>
<% if admin? %>

<div id ="tag_form">
<%=  render "tags/form" %>
</div>
<%= link_to "New Post", "#new_link_anchor" %>
<% end %>

<div id="pagination">
  <%= will_paginate @blogs.paginated(params[:page]) %>
</div>
<div id="blog_list">
  <%= render :partial => "blogs/blog" , :collection => @blogs.paginated(params[:page]) %>
</div>
<br>
<% if admin? %>
    <a name="new_link_anchor"></a> </br>
    <div id="new_blog_form">
    <%= render "blogs/form" %>
    </div>
<% end %>


