
<div id="projects">
  <h1>Listing projectsss</h1>
  <% @project_types.each do |language, project_list| %>
  <h2><%= language %></h2>
      <div class="language_project">
  <% project_list.in_groups_of(1,false) do |row_project| %>
      <% for project in row_project %>
          <div id=<%= project.id %> class="reveal-modal">
            <%= render project %>
          </div>

          <ul class="hoverbox">
            <li>
              <%= project.name %> </br>
              <% if project.image_link_url && project.image_link_url != "" %>
                  <a href="#"  data-reveal-id=<%= project.id %>> <img src=<%= project.image_link_url %> /><img src= <%= project.image_link_url %> alt="description" class="preview" /></a>
                  <%= link_to image_tag(project.image_link_url,:class => 'preview' ), project %>
              <% elsif project.image_file_name %>
                  <a href="#"  data-reveal-id=<%= project.id %>> <img src=<%= project.image.url %> alt="description" /><img src= <%= project.image.url %> alt="description" class="preview" /></a>
                  <%= link_to image_tag(project.image.url,:class => 'preview' ), project %>

              <% else %>
                  Currently no image
              <% end %>
              </br>
              <% if user_signed_in? %>

                  <%= link_to 'Edit', edit_project_path(project) %>
                  <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %> </br>
              <% end %>
            </li>
          </ul>

      <% end %>
  <% end %>
  </div>
  <% end %>
  <br />

 </div></br>
 <% if user_signed_in? %>
 <%= link_to 'New Project', new_project_path %>

  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to "Sign out", destroy_user_session_path, :action => :delete %> </br>


<% end %>


