<!DOCTYPE html>
<html>
<head>
  <title>Site of Trevor Umeda</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application' %>

  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="logo">
</div>
<div id="wrap">
<div id="header" class="shadow">
  <%= render "layouts/header" %>
</div>
<div id="body-wrapper">
<div id="int-site-container">
  <div id ="left_column">
    <% if @tags %>
        <div id="blog_tags">
            Tags: </br>
            <%= render @tags  %>
        </div>
    <% end %>
  </div>
  <div id="main_column">
    <div id="int-site">
        <%= yield %>
    </div>
    <div id="right_column">

        <div id="contact_info" class="side_box">
          Find me at:
          <br/>
              <a href="http://www.facebook.com/trevor.umeda"> <img src="/assets/facebook.png"/></a>
              <a href="http://www.linkedin.com/profile/view?id=172930889&trk=tab_pro"> <img src="/assets/linkedin.png"/></a>
              <a href="http://www.froggyP.deviantart.com"> <img src="/assets/deviantart.png"/></a>
              <a href="http://www.github.com/trevor-umeda"> <img src="/assets/github.png"/></a>

        </div>
    </div>
  </div>
</div>
</div>

<div id="footer">
  <div id="test">
  -    <%= debug(params) if Rails.env.development? %>

  </div>
</div>
</div>
</body>
</html>
