<!DOCTYPE html>
<html>
<head>
  <title>Site of Trevor Umeda</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application' %>

  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrap">
<div id="header" class="shadow">
  <%= render "layouts/header" %>

</div>
<div id="body-wrapper">
<div id="int-site-container">
  <div id ="left_column">
    <% if @tags %>
        <div id="blog_tags">

        Tags: </br>
    <%= render @tags  %>
        </div>
      <% end %>


  </div>
  <div id="int-site">
    <%= yield %>

  </div>

</div>
</div>

<div id="footer">
  <div id="test">
  -    <%= debug(params) if Rails.env.development? %>

  </div>
</div>
</div>
</body>
</html>
